<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QAYAQ Hotels</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">
    <link rel="stylesheet" href="/assets/vendor.css" type="text/css"><!-- xyz-foundation -->
    <link rel="stylesheet" href="/hotels/assets/vendor.css" type="text/css">
    <link rel="stylesheet" href="/hotels/assets/xyz-hotels.css" type="text/css">
    <link rel="icon" type="image/png" href="/favicon.png">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ember.js/2.3.1/ember.min.js"></script>
    <script src="/hotels/assets/vendor.js"></script>
    <script src="/hotels/assets/xyz-hotels.js"></script>

    {{content-for "body-footer"}}

    <script>
      (function() {
        var selector = 'meta[name="xyz-hotels/config/environment"]';
        var config = window.document.querySelector(selector);
        config = JSON.parse(decodeURIComponent(config.content));
        // Use Live Reload app in dev
        if (config.environment === 'development') {
          document.write([
            '<script src="http://',
            (location.host || 'localhost').split(':')[0],
            ':35729/livereload.js?snipver=1"></',
            'script>'
          ].join(''));
        }
      }());
    </script>
  </body>
</html>
